@tailwind base;
@tailwind components;
@tailwind utilities;

.vote-grid {
    display: grid;
    width: 20rem;
    height: 6.75rem;
    grid-template-rows: 2rem 3rem 1fr;
    grid-template-columns: 5rem 1fr;

}

.rating :where(input[type="radio"]) {
    background-color: var(--color-muted)

}
.rating :where(input) :checked::after {
    border-color: #f97316;
 }

.rating :where(input)~input {
    background-color: var(--color-active);
}

.rating :where(input[type="radio"]) :hover {
    background-color: var(--color-hover);
}